@import "styles/colors.module.css";

.root {
  height: 100vh;
  color: var(--COLOR-text);
  background-color: var(--COLOR-bg);
}
.header {
  height: 40px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobileHeader {
  display: none;
}
.spread {
  color: var(--COLOR-textWeaker);
}
.main {
  display: flex;
}
.footer {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  font: 0.8rem droid-sans-mono, monospace;
  background-color: var(--COLOR-cta);
  color: var(--COLOR-text);
  padding: 7px 20px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

@media only screen and (max-width: 600px) {
  .mobileHeader {
    display: flex;
    justify-content: center;
  }
  .topSpread {
    display: none;
  }
  .main {
    flex-direction: column-reverse;
  }
}
