@import "styles/colors.module.css";

.root {
  width: 50%;
}
.header {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid var(--COLOR-borderWeak);
  border-top: 1px solid var(--COLOR-borderStrong);
  color: var(--COLOR-textWeaker);
}
.bidsHeader {
  flex-direction: row-reverse;
}
.headerItem {
  width: 40px;
  text-align: left;
}
.content {
  height: calc(100vh - 140px);
  overflow: hidden;
}
.row {
  padding: 5px 0;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid var(--COLOR-borderWeaker);
  text-align: left;
}
.bidsRow {
  flex-direction: row-reverse;
}
.asksPrice {
  color: var(--COLOR-short);
}
.bidsPrice {
  color: var(--COLOR-long);
}
.value {
  width: 40px;
}

@media only screen and (max-width: 600px) {
  .root {
    width: 100%;
    overflow: hidden;
  }
  .bidsHeader {
    display: none;
  }
  .content {
    display: flex;
    height: calc((100vh - 181px) / 2);
    overflow: hidden;
  }
  .asksContent {
    flex-direction: column-reverse;
  }
  .bidsContent {
    flex-direction: column;
  }
  .bidsRow {
    flex-direction: row;
  }
}
