:root {
    --COLOR-cta: rgba(88,75,170,1.00);
    --COLOR-long: rgba(81,156,88,1.00);
    --COLOR-short: rgba(227,65,93,1.00);
    --COLOR-bg: rgba(0,0,0,1.00);
    --COLOR-borderStrong: rgba(96,96,96,1.00);
    --COLOR-borderWeak: rgba(48,48,48,1.00);
    --COLOR-borderWeaker: rgba(24,24,24,1.00);
    --COLOR-textWeaker: rgba(163,163,163,1.00);
    --COLOR-text: rgba(240,240,240,1.00);
    --COLOR-transparent: rgba(0, 0, 0, 0.7);
}
