@import "styles/colors.module.css";

.root {
  background-color: var(--COLOR-transparent);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}

.main {
  text-align: center;
  margin: 35vh auto 0 auto;
}
