body {
  margin: 0;
  font-size: 14px;
  font-family: droid-sans-mono, monospace;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
